.ourTeam {
    position: relative;
}

.membersWrapper {
    position: relative;
    margin-top: 70px;
    text-align: center;
    z-index: 30;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.newLine {
    width: 100%;
}

@media (max-width: 575.98px) {
    .membersWrapper {
        margin-top: 20px;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .membersWrapper {
        margin-top: 40px;
    }
}