.emailContainer {
    display: flex;
    justify-content: center;
}

.email, .emailValue {
    font-size: 20px;
}

.email {
    margin-right: 5px;
    cursor: default;
}

.emailValue {
    color: #000;
}

@media (max-width: 575.98px) {
    .email, .emailValue {
        font-size: 16px;
    }
    
    .email {
        margin-right: 3px;
    }  
}

@media (max-width: 400px) {
    .email, .emailValue {
        display: none
    }
}