.navigation {
    height: 60px;
    display: inline-block;
}

.menuBar {
    height: inherit;
    list-style-type: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inherit;
}

.menuItem {
    height: inherit;
    display: inherit;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

.menuLink {
    transition: color 0.1s linear;
    text-transform: uppercase;
    text-decoration: none;
    color: #004696;
    font-size: 28px;
    line-height: 60px;
    margin: 0 14px;
}

.menuItem:hover {
    background-color: #DFF3FD;
}

.menuItem:hover .menuLink {
    color: #20A0DE;
}