.footerSection {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #103358;
    height: 100px;
    text-align: center;
    color: #fff;

}

.footerText {
    position: relative;
    top: 40px;
}