.menuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.1s linear;
    box-sizing: border-box;
}

.menuItem a {
    text-transform: uppercase;
    text-decoration: none;
    color: #004696;
    font-size: 28px;
    margin: 0 14px;
    transition: color 0.1s linear;
}

.menuItem:hover {
    background-color: #DFF3FD;
}

.menuItem:hover a {
    color: #20A0DE;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* --- */
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .menuItem a {
        font-size: 24px;
        margin: 0 8px;
    }
}

@media (max-width: 575.98px) {
    .menuItem {
        height: 30px;
        border-bottom: 1px solid #004696;
    }

    .menuItem a {
        font-size: 20px;
    }

    .menuItem:hover {
        background-color: transparent;
    }
    
    .menuItem:hover a {
        color: #004696;
    }
}