.menu {
    height: 60px;
}

.menuItems {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    font-weight: bold;
    display: flex;
}

@media (max-width: 575.98px) {
    .menu {
        height: auto;
    }
    .menuItems {
        display: block;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .menu {
        height: 50px;
    }
}