.concept {
    position: relative;
    width: 600px;
    background-color: #C7E9FB;
    border: 8px solid #004696;
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 80px;
    vertical-align: top;
    display: flex;
    flex-direction: column;
}

.conceptText {
    padding: 5px 14px;
    font-size: 24px;
    line-height: 28px;
    height: 140px;
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .concept {
        width: 480px;
        border: 6px solid #004696;
        border-radius: 10px;
    }

    .conceptText {
        padding: 3px 10px;
        font-size: 22px;
        line-height: 24px;
        height: 140px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .concept {
        width: 400px;
        border: 6px solid #004696;
        border-radius: 10px;
    }

    .conceptText {
        padding: 3px 7px;
        font-size: 18px;
        line-height: 20px;
        height: 120px;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .concept {
        margin-bottom: 20px;
        width: 500px;
        border: 6px solid #004696;
        border-radius: 10px;
    }

    .conceptText {
        padding: 3px 5px;
        font-size: 16px;
        line-height: 20px;
        height: 100px;
    }
}

@media (max-width: 575.98px) {
    .concept {
        margin-bottom: 8px;
        border: 3px solid #004696;
        border-radius: 5px;
    }

    .conceptText {
        padding: 3px 3px;
        font-size: 14px;
        line-height: 16px;
        height: auto;
    }
}