.mainTitleContainer {
    position: relative;
    z-index: 10;
    cursor: default;
}

.mainTitle {
    font-size: 112px;
    line-height: 100%;
    animation: mainTitleAnim 5s linear infinite;
}

@keyframes mainTitleAnim {
    0% {
        color: #004696;
    }
    50% {
        color: #49709e;
    }
    100% {
        color: #004696;
    }
}

@media (max-width: 575.98px) {
    .mainTitle {
        font-size: 30px;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .mainTitle {
        font-size: 70px;
    }
}