.header {
    background-color: #20A0DE;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}

@media (max-width: 575.98px) {
    .header {
        background: linear-gradient(to right, #178fca 0%, #20a0de 40%, #20a0de 60%, #178fca 100%);
        display: block;
        padding: 0;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .header {
        height: 50px;
        padding: 0;
    }
}