.github {
    float: right;
    padding: 5px 14px;
    height: 50px;
    cursor: pointer;
}

.githubText {
    margin-right: 8px;
    font-size: 28px;
    font-weight: bold;
    color: #2a2d98;
    vertical-align: middle;
}

.githubLink {
    text-decoration: none;
}

.githubLogoContainer {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
}

.github:hover {
    background: #DFF3FD;
}

.github:hover .githubText {
    color: #20A0DE;
}

.github:hover .githubLogo {
    fill: #20A0DE;
}