.wave {
    overflow: hidden;
    width: 100%;
}

.waveBack,
.waveFront {
    width: auto;
    height: 66px;
    background-size: auto 100%;
} 

.waveBack {
    background-image: url("./image/wave_1.png");
    animation: waveBackAnim 18s linear infinite;
}

.waveFront {
    background-image: url("./image/wave_2.png");
    animation: waveFrontAnim 18s linear infinite;
    margin-top: -66px;
}

@keyframes waveBackAnim {
    100% {
        background-position-x: -1152px;
    }
}

@keyframes waveFrontAnim {
    100% {
        background-position-x: 1152px;
    }
}

@media (max-width: 575.98px) {
    .waveBack,
    .waveFront {
        height: 33px;
    } 

    .waveFront {
        margin-top: -33px;
    }

    @keyframes waveBackAnim {
        100% {
            background-position-x: -576px;
        }
    }
    
    @keyframes waveFrontAnim {
        100% {
            background-position-x: 576px;
        }
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .waveBack,
    .waveFront {
        height: 55px;
    } 

    .waveFront {
        margin-top: -55px;
    }

    @keyframes waveBackAnim {
        100% {
            background-position-x: -960px;
        }
    }
    
    @keyframes waveFrontAnim {
        100% {
            background-position-x: 960px;
        }
    }
}