.concepts {
    position: relative;
    padding-top: 20px;
}

.conceptsWrapper {
    position: relative;
    margin-top: 120px;
    text-align: center;
    z-index: 30;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conceptsWrapper:before, .conceptsWrapper:after {
    content: "";
    width: 100%;
    order: 1;
}

.jsConcept:nth-child(n + 3) {
    order: 1;
}

.jsConcept:nth-child(even) {
    margin-left: 80px;
}

.jsConcept:nth-child(odd) {
    margin-right: 80px;
}

.jsConcept:after,
.jsConcept:before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
}

.jsConcept:nth-child(1):after,
.jsConcept:nth-child(2):after {
    height: 450px;
    bottom: 100%;
    left: 50%;
    margin-left: -4px;
}

.jsConcept:nth-child(1):after {
    background: linear-gradient(to bottom, #4bbbe9 0%, #004696 100%);
    transform-origin: 8px 446px;
    transform: rotate(30deg);
}

.jsConcept:nth-child(2):after {
    background: linear-gradient(to bottom, #39b2e0 0%, #004696 100%);
    transform-origin: 0px 446px;
    transform: rotate(-30deg);
}

.jsConcept:nth-child(3):before,
.jsConcept:nth-child(4):before {
    height: 8px;
    width: 50px;
    background-color: #004696;
    top: 50%;
    margin-top: -4px;
}

.jsConcept:nth-child(3):before {
    left: 100%;
}

.jsConcept:nth-child(4):before {
    right: 100%;
}

.jsConcept:nth-child(3):after,
.jsConcept:nth-child(4):after {
    height: 780px;
    bottom: 50%;
    background: linear-gradient(to bottom, #39b2e0 0%, #004696 80%, #004696 100%);
}

.jsConcept:nth-child(3):after {
    right: -50px;
}

.jsConcept:nth-child(4):after {
    left: -50px;
}

@media (max-width: 575.98px) {
    .concepts {
        padding-top: 10px;
    }
    
    .conceptsWrapper {
        margin-top: 20px;
    }

    .jsConcept:nth-child(even),
    .jsConcept:nth-child(odd) {
        margin-left: 8px;
        margin-right: 8px;
    }

    .jsConcept:after,
    .jsConcept:before {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .concepts {
        padding-top: 15px;
    }

    .conceptsWrapper {
        margin-top: 50px;
    }

    .jsConcept:nth-child(even),
    .jsConcept:nth-child(odd) {
        margin-left: 0;
        margin-right: 0;
    }

    .jsConcept:after,
    .jsConcept:before {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1600px) {
    .jsConcept:nth-child(even),
    .jsConcept:nth-child(odd) {
        margin-left: 10px;
        margin-right: 10px;
    }

    .jsConcept {
        margin-bottom: 20px;
    }

    .jsConcept:after,
    .jsConcept:before {
        display: none;
    }
}